<!DOCTYPE HTML>
<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/navigation') %>
    <main class="container">
        <div class="content">
            <%- body %>
         </div>
      </main>
      <footer>
          <%- partial('_partial/footer') %>
       </footer>
            <!-- container-narrow -->
        <%- partial('_partial/search') %>
        <%- partial('_partial/after_footer') %>
</body>
</html>